*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: "Calibri";
  overflow-x: hidden;
}

/* navigation bar */
nav {
  background-color:#00704A;
  height: 95px;
  width: 100%;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}
nav ul { 
  float:right;
  margin-right:15px;
  list-style: none;
  top: 95px;

}
nav ul li {
  display: inline-block;
  margin: auto;
  padding-right: 1.5rem;
}
nav ul li a {
  color:white;
  font-size: 1.5rem;
  text-transform: uppercase;
  position:relative;
  top: 20px;
} 
nav ul li:hover {
  text-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
}
#starbuckslogo {
  width: 4%;
  position: relative; 
  top: 20%; 
  left: 30px;
  object-fit: contain;
}
@media screen and (max-width: 576px){
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Calibri";
  }
  body{
    width:100%;
    height: auto;
    overflow-x: hidden;
    font-family: "Calibri";
  }
  nav{
    flex-wrap: wrap;
  }
  nav ul li {
    display: inline-block;
    margin: auto;
    padding-right: 1.5rem;
  }
  nav ul li a {
      color:white;
      font-size: 1rem;
      text-transform: uppercase;
  } 
  #starbuckslogo {
      width: 8%;
      position: absolute; 
      top: 25px;
      left: 30px;
  }
  }
  .slider img {
      width:100%;
  }

/* slideshow */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin:auto; 
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: 0.5} 
  to {opacity: 1}
}

/* footer */
footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #00704A;
  top:-5px;
}
footer .footer-col {
  width: 190px;
  float: left;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 19px 19px 19px;
}
footer .footer-col h1 {
  margin: 0;
  font-family: inherit;
  font-size: 12px;
  font-weight: semi-bold;
  color: rgba(255,255,255,0.4);
  line-height: 15px;
  padding: 19px 0px 6px 0px;
  letter-spacing: 0.25em;
  text-transform: uppercase;

}
footer .footer-col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .footer-col ul li {
  color: #999999;
  font-family: inherit;
  font-size: 13px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px;
}
.social ul li a:link,.social ul li a:visited{
  text-decoration: none;
  color:#8e8e8e;
}
.social ul li a:hover{
  color: white;
}

footer .footer-col ul li:hover {
  color: white;
  transition: .05s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media screen and (min-width: 1280px) {
  .footer-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  footer .footer-col {
    width: 33%;
  }
  footer .footer-col h1 {
    font-size: 15px;
  }
  footer .footer-col ul li {
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
    footer .footer-col {
      width: 50%;
    }
    footer .footer-col h1 {
      font-size: 15px;
    }
    footer .footer-col ul li {
      font-size: 14px;
    }
}
@media screen and (max-width: 320px) {
  footer .footer-col {
    width: 100%;
  }
}

/* Shop page */
#product-body{
  background-image: url();
}
.nav{
  position:absolute;
}
.product{
  display:inline-block;
  position:relative;
  padding: 3% 1%;
  width: 24.7%;
}
.product img, .product-description{
  width:100%;
}
.product img{
  border-radius:5%;
}
.product-description{
  font-size: 1.3rem;
  font-weight:bold;
}
.price{
  margin-top: 3%;
  color:#00704A;
  font-size: 1.15rem;
  font-weight: bold;
}
.add-to-cart-btn{
  width:100%;
  color: white;
  background-color: #00704A;
  margin-top: 3%;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  border: none;
}
.add-to-cart-btn:hover{
  background-color: #4C9F87;
}

/* Cart Page */
.cart-row {
  position: relative;
}

.cart-items{
  margin-top: 2%;
  margin-bottom: 2%;
}

.item{
  display: flex;
  margin-bottom: 2%;
  margin-left: 2%;
} 
.cart-description{
  width: 60%;
  display: flex;
}
.cart-title{
  justify-content: top;
  margin-left: 2%;
  font-size: 1.3rem;
}
.lastpart{
  right:0px;
}
.cart-price{
  padding: 0 3% 3% 3%;
  display: inline-block;
  font-size: 1.7rem;
}
.remove-btn{
  cursor: pointer;
  color:red;
}

.cart-total{
  margin-right: 12%;
  text-align: right;
  font-size: 3rem;
}
.checkout-btn{
  width:80%;
  color: white;
  background-color: #00704A;
  padding: 1% 2%;
  border-radius: 25px;
  text-align: center;
  border: none;
  margin-top: 3%;
  margin-left: 10%;
}
.checkout-btn:hover{
  background-color: #4C9F87;
}
.checkout-btn a:visited{
  text-decoration: none;
  color:white;
}
.checkout-btn a:link, .checkout-btn a:hover{
  color: white;
}

/* Checkout Page */
form{
  width: 80%;
  background-color: pink;
}
#checkout-h1, #checkout-h2{
  text-align: center;
}